video {
  position: absolute;
  object-fit: cover;
  width: 100vw;
  height: 100vh;
  z-index: -1;
  top: 0;
  left: 0;
  max-width: 100%;
}

.viewport-content {
  position: relative;
  width: 100vw;
  height: 88vh;
  max-width: 100%;
}

.ml-60 {
  margin-left: 60px;
}

.pt-70v {
  padding-top: 70vh;

  @media screen and (max-width: 768px) {
    padding-top: 60vh;
  }
}
